<div class="container-fluid">
    <div class="container">
        <p class="display-4 my-4">Bienvenido</p>
        <hr />
        <div class="my-4">
            <div class="row my-4">
                <div class="col-2">
                    <h4>Req 1</h4>
                </div>
                <div class="col-8">
                    Consultar qué productos y qué cantidad puede ser alistada desde el inventario.
                </div>
                <div class="col-2">
                    <button class="btn btn-success" onclick="window.location.href='/req1';">Probar</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-2">
                    <h4>Req 2</h4>
                </div>
                <div class="col-8">
                    Consultar los productos que deben ser alistados por transportadores, y a qué
                    transportador le corresponde cada pedido.
                </div>
                <div class="col-2">
                    <button class="btn btn-warning" onclick="window.location.href='/req2';">Probar</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-2">
                    <h4>Req 3</h4>
                </div>
                <div class="col-8">
                    Productos menos vendidos el día 1 de marzo.
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" onclick="window.location.href='/req3';">Probar</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-2">
                    <h4>Req 4</h4>
                </div>
                <div class="col-8">
                    Dado el Id de un pedido, saber qué productos y qué cantidad pueden ser alistados
                    según sistema de inventario y cuáles deben ser abastecidos por los proveedores.
                </div>
                <div class="col-2">
                    <button class="btn btn-danger" onclick="window.location.href='/req4/4';">Probar</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-2">
                    <h4>Req 5</h4>
                </div>
                <div class="col-8">
                    Calcular el inventario del día 2 de marzo, teniendo en cuenta las pedidos
                    despachados el 1 de marzo.
                </div>
                <div class="col-2">
                    <button class="btn btn-secondary" onclick="window.location.href='/req5';">Probar</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-2">
                    <h4>Req 6</h4>
                </div>
                <div class="col-8">
                    Productos más vendidos el día 1 de marzo
                </div>
                <div class="col-2">
                    <button class="btn btn-info" onclick="window.location.href='/req6';">Probar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/index_client.js"></script>